@font-face{

    font-family: gothic;
    src: url("coolvetica rg.otf");

}

body{

    background-color:rgb(58, 125, 213);
    text-align: center;

}

h1{

    color: rgba(0, 0, 0, 0.974);
    align-items: center;
    font-family: gothic;
    font-size: 80px;

}


